




{include file='header.tpl'}


	<main class="content">
		<div class="content-header ui-content-header">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-lg-push-0 col-sm-12 col-sm-push-0">
						<h1 class="content-heading">STAFF</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
						<section class="content-inner margin-top-no">



				<div class="card">
					<div class="card-main">
						<div class="card-inner">
							<h2 class="content-sub-heading">SK美化版</h2>
							<p>
								基于masterial主题的美化版 - 联系 <a href="https://t.me/serikang" target="_blank">@Seri</a>
							</p>
						</div>
					</div>
				</div>



							<div class="card">
								<div class="card-main">
									<div class="card-inner">
										<h2 class="content-sub-heading">版权协议</h2>
										<p>
											<p>The MIT License (MIT)</p>

											<p>Copyright (c) 2015 orvice</p>

											<p>Permission is hereby granted, free of charge, to any person obtaining a copy
											of this software and associated documentation files (the "Software"), to deal
											in the Software without restriction, including without limitation the rights
											to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
											copies of the Software, and to permit persons to whom the Software is
											furnished to do so, subject to the following conditions:</p>

											<p>The above copyright notice and this permission notice shall be included in all
											copies or substantial portions of the Software.</p>

											<p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
											IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
											FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
											AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
											LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
											OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
											SOFTWARE.</p>
										</p>
									</div>
								</div>
							</div>

							<div class="card">
								<div class="card-main">
									<div class="card-inner">
										<h2 class="content-sub-heading">免责声明</h2>
										<p>xxxxxxxxxxxxx</p>
									</div>
								</div>
							</div>


							<div class="card">
								<div class="card-main">
									<div class="card-inner">
										<h2 class="content-sub-heading">本程序参与人员列表</h2>
										    <p>此列表为参与到 <a href="https://github.com/glzjin/ss-panel-v3-mod">ss-panel-v3 glzjin mod {$config["version"]}</a> 中的人员，在此表示感谢。</p>
									</div>
								</div>
							</div>



							<div class="card">
								<div class="card-main">
									<div class="card-inner">
											<h2 class="content-sub-heading">原作</h2>
											<p><a href="https://github.com/orvice/">orvice</a></p>
									</div>
								</div>
							</div>


							<div class="card">
								<div class="card-main">
									<div class="card-inner">
											<h2 class="content-sub-heading">现阶段维护</h2>
											<p><a href="https://github.com/esdeathlove/">esdeathlove</a></p>
									</div>
								</div>
							</div>




							<div class="card">
								<div class="card-main">
									<div class="card-inner">
											<h2 class="content-sub-heading">监督</h2>
											<p><a href="https://www.zhaoj.in">（曾经的）glzjin</a></p>
									</div>
								</div>
							</div>



							<div class="card">
								<div class="card-main">
									<div class="card-inner">
											<h2 class="content-sub-heading">作画</h2>
											<p><a href="https://github.com/Daemonite/">Daemonite</a></p>
											<p><a href="https://www.zhaoj.in">（曾经的）glzjin</a></p>
									</div>
								</div>
							</div>



							<div class="card">
								<div class="card-main">
									<div class="card-inner">
											<h2 class="content-sub-heading">出演</h2>
											<p><a href="https://www.zhaoj.in">（曾经的）glzjin</a></p>
											<p><a href="http://mengyang.wang/">mengyang</a></p>
											<p><a href="http://tony.ecy.ren/">tony</a></p>
									</div>
								</div>
							</div>



							<div class="card">
								<div class="card-main">
									<div class="card-inner">
											<h2 class="content-sub-heading">鸣谢</h2>
											<p>所有被引用过代码的同学，以及所有提交过issue的同学。当然，还有在使用这份程序的你我Ta。</p>
									</div>
								</div>
							</div>

          					<div class="card">
								<div class="card-main">
									<div class="card-inner">
											<h2 class="content-sub-heading">致谢</h2>
									</div>
								</div>
							</div>



						</section>



		</div>
	</main>


{include file='footer.tpl'}
